.main-container {
  margin-bottom: 5%;
}

.btn-back {
  height: 6rem;
  width: 8%;
}

.btn-volver {
  width: 35px !important;
  height: 35px;
  margin-top: 30% !important;
  margin-left: 25%;
  opacity: 0.8;
}
.main-container p {
  margin-bottom: 0%;
}

.main-container hr {
  margin-top: 0%;
  margin-bottom: 2%;
  width: 85%;
}

.main-container h6 {
  margin-top: 2%;
  margin-bottom: 0%;
}

.main-container input {
  border-color: #258ccd;
  width: 70%;
  font-size: 14px;
}

.div-month,
.div-year {
  width: 24%;
}

.div-year {
  margin-left: 6%;
}

.div-month-year {
  display: flex;
}
.text-danger {
  font-size: 12px;
}

.div-zip input,
.div-cvv input {
  width: 12%;
}

.div-number input {
  width: 25%;
}

.cont-order {
  width: 75% !important;
  border: solid 2px #238ccd;
  border-radius: 20px;
  padding: 50px;
  margin-top: 5%;
  color: #494949;
}

.cont-details {
  color: #494949;
}

.subtotal,
.final-price {
  display: flex;
  justify-content: flex-end;
}

.btn-finish {
  border: solid 1px #258ccd;
  border-radius: 7px;
  padding: 5px;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.btn-primary {
  background-color: #258ccd !important;
  border-color: #258ccd !important;
}

.btn-primary:disabled {
  opacity: 0.3 !important;
}

.link-finish:hover {
  color: white;
}

.link-finish {
  text-decoration: none;
  color: white;
}

.div-btn {
  width: 70%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  justify-content: flex-end;
}
