.cont-final {
  width: 50% !important;
  border: solid 2px #238ccd;
  border-radius: 20px;
  padding: 50px;
  margin-top: 5%;
  color: #494949;
}

.thank {
  margin-bottom: 5%;
}

.order-title {
  margin-bottom: 2%;
}

.btn-print {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1%;
}

.img-print {
  width: 3%;
}

@media (min-width: 760px) and (max-width: 1200px) {
  .img-print {
    width: 7%;
  }
}

@media (max-width: 760px) {
  .img-print {
    width: 10%;
  }
  .cont-final h5,
  .subtotal,
  .final-price,
  .item-basket-name,
  .text-right {
    font-size: 13px;
  }
}
