body {
  font-family: "Helvetica";
  color: #494949;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.block {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  background-color: #ffffff;
  border: solid 1px white;
  border-radius: 7px;
  cursor: pointer;
}
